body{
    color: darkblue;
    background-color: lightblue;
    font-size: 18px; 
}

em{
    color: darkblue;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

a{
    text-decoration: none;
}

div{
    color: rgb(224, 219, 174);
    background-color: rgb(221, 233, 212);
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 200px;

}
